@model CampApp.Models.InquiryModel;

    <head>
        <style>
            td {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <header>
            <h1 id="title">Let's Camp!</h1>
            <div id="LogIn">
                <a asp-area="" asp-controller="Home" asp-action="LogIn"><input type="button" value="ログイン"></a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">ホームページ</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Rental">レンタル</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Subscription">会員登録</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="E_Commerce">電子商取引について</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Inquiry">お問い合わせ</a>
                    </li>
                </ul>
            </nav>
        </header>

        <br />

        <div style="display:flex; justify-content:center">
            <table border="1">
                <tr><th>お名前</th><td>@ViewBag.name</td></tr>
                <tr><th>フリガナ</th><td>@ViewBag.furigana</td></tr>
                <tr><th>性別</th><td>@ViewBag.gender</td></tr>
                <tr><th>メールアドレス</th><td>@ViewBag.mail</td></tr>
                <tr><th>電話番号</th><td>@ViewBag.tel</td></tr>
                <tr><th>お問い合わせ項目</th><td>@ViewBag.inquiryGroup</td></tr>
                <tr><th>お問い合わせ内容</th><td>@ViewBag.message</td></tr>
            </table>
        </div>

        <br />

        <div style="display:flex; justify-content:center">
            @using (Html.BeginForm("InquiryFinish", "Home"))
            {
                <p>この内容でよろしければ、「送信する」ボタンを押してください。</p>
                <div style="display:flex; justify-content:center"><input type="submit" value="送信する"></div>
            }
        </div>

        <br />

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy;Fチーム
            </div>
        </footer>

    </body>