@{
    ViewData["Title"] = "Let's Camp!";
}

<head>
    <style>
        td {
            text-align:center;
        }
    </style>
</head>

<body>
    <header>
        <h1 id="title">Let's Camp!</h1>
        <div id="LogIn">
            <a asp-area="" asp-controller="Home" asp-action="LogIn"><input type="button" value="ログイン"></a>
        </div>
        <nav>
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">ホームページ</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Rental">レンタル</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Subscription">会員登録</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="E_Commerce">電子商取引について</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Inquiry">お問い合わせ</a>
                </li>
            </ul>
        </nav>
    </header>

    <br />

    <h3 style="text-align:center">会員登録が完了しました。</h3>
    <div style="display:flex;justify-content:center">
        <table border="1">
            <tr><th>お名前</th><td>@TempData["name"]</td></tr>
            <tr><th>フリガナ</th><td>@TempData["furigana"]</td></tr>
            <tr><th>性別</th><td>@TempData["gender"]</td></tr>
            <tr><th>生年月日</th><td>@TempData["birthday"]</td></tr>
            <tr><th>会員ID</th><td>@TempData["ID"]</td></tr>
            <tr><th>パスワード</th><td>@TempData["HidePassword"]</td></tr>
            <tr><th>郵便番号</th><td>〒@TempData["addressNum"]</td></tr>
            <tr><th>住所</th><td>@TempData["address"]</td></tr>
            <tr><th>電話番号</th><td>@TempData["phonenum"]</td></tr>
            <tr><th>メールアドレス</th><td>@TempData["mail"]</td></tr>
        </table>
    </div>

    <br />

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy;Fチーム
        </div>
    </footer>

</body>