@{
    ViewData["Title"] = "Let's Camp!";
}

<h3>確認画面</h3>
<h2>@ViewBag.name</h2>
<h2>@ViewBag.furigana</h2>
<h2>@ViewBag.birthday</h2>
<h2>@ViewBag.ID</h2>
<h2>@ViewBag.rePassword</h2>
<h2>@ViewBag.address</h2>
<h2>@ViewBag.phonenum</h2>
<h2>@ViewBag.mail</h2>

